<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <p class="title-color text-center">Spéculations</p>
    </div>
    <div class="row mb-2">
      <app-liste-speculation></app-liste-speculation>
    </div>
    <div class="row">
      <p class="title-color text-center">Connexion</p>
      <form #form="ngForm" [formGroup]="formulaireConnexion" (ngSubmit)="goToAdmin()">
        <div class="mb-3">
          <label for="username">Email ou Téléphone</label>
          <input id="username" type="text" pInputText class="p-inputtext" formControlName="email">
          <small id="email-help"
                 class="p-error"
                 *ngIf="isAfficherFeedBackError(formulaireConnexion.controls['email'], form.submitted)">
            champs obligatoire
          </small>

        </div>
        <div class="mb-3">
          <label for="motDePasse">Mot de passe</label>
          <input id="motDePasse" type="password" pInputText class="p-inputtext" formControlName="motDePasse">
          <small id="motdepasse-help"
                 class="p-error"
                 *ngIf="isAfficherFeedBackError(formulaireConnexion.controls['motDePasse'], form.submitted)">
            champs obligatoire
          </small>

        </div>
        <div class="mb-3 text-center">
          <button pButton pRipple type="submit" label="Se connecter" iconPos="right" icon="{{ loading ? 'pi pi-spin pi-spinner' : ''}}" 
          [disabled]="loading" class="p-button-secondary p-button-raised"></button>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Vous avez oublié votre mot de passe?</p>
        <p class="title-color">Réinitialiser votre mot de passe.</p>
        <a routerLink="/auth/inscription" routerLinkActive="active">Inscrivez-vous.</a>
      </div>
    </div>
  </div>
</div>
