@import '../../../../assets/scss/theme/theme.scss';

:host {
  .p-inputtext {
    width: 100%;
  }

  .p-password {
    width: 100%;
  }

  .p-button {
    width: 70%;
  }

  label, p, small {
    font-size: 11px;
  }

  ::ng-deep {
    .p-button-label {
      font-size: 10px;
    }
  }
}

::ng-deep {
  .title-color {
    color: $primaryColor;
  }

  
}
