$primaryColor: #b3887f !default;
$secondaryColor: #5c3d2b !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;
$black: #000 !default;
$white: #fff;
$light: #ffffff;
$blue: #3C91E6;
$light-blue: #CFE8FF;
$grey: #eee;
$dark-grey: #AAAAAA;
$dark: #342E37;
$red: #DB504A;
$yellow: #FFCE26;
$light-yellow: #FFF2C6;
$orange: #FD7238;
$light-orange: #FFE0D3;
$highlightBg: #E3F2FD !default;
$highlightTextColor: #495057 !default;


@import '../theme/primeng/theme/theme';
@import './primeng/variables/theme';
