<div class="row">
  <div class="col-lg-6">
    <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
  <div class="col-lg-6 text-end">
    <button pButton pRipple label="Créer un entrepôt" class="p-button"></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="card left-card">
      <ul class="menu">
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 1" (click)="menuSelectionne = 1">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Campagnes</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 2" (click)="menuSelectionne = 2">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Détails campagne</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 3" (click)="menuSelectionne = 3">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Spéculations</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 4" (click)="menuSelectionne = 4">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">détails scépulation</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 5" (click)="menuSelectionne = 5">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Entrepôt</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 6" (click)="menuSelectionne = 6">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Groupement</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 7" (click)="menuSelectionne = 7">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Exportateurs</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 8" (click)="menuSelectionne = 8">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Affectations exportateurs</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 9" (click)="menuSelectionne = 9">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Ville</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 10" (click)="menuSelectionne = 10">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Sites</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
        <li class="menu-btn p-2" [class.active]="menuSelectionne === 11" (click)="menuSelectionne = 11">
          <a class="d-flex flex-row justify-content-between">
            <span class="text">Zonages</span>
            <p-badge value="12"></p-badge>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">

    </div>
  </div>
</div>
