<div class="row">
  <div class="col-lg-12">
    <p class="title-color text-center">Inscription</p>
    <form [formGroup]="formulaireInscription" (ngSubmit)="inscription()" #form="ngForm">
      <div class="row mb-3">
        <label for="email">Email</label>
        <input id="email" type="email" pInputText class="p-inputtext" formControlName="email">
        <small id="email-help"
                 class="p-error"
                 *ngIf="isAfficherFeedBackError(formulaireInscription.controls['email'], form.submitted)">
            Donner un mail valable.
        </small>
      </div>
      <div class="row mb-3">
        <label for="motDePasse">Mot de passe</label>
        <input id="motDePasse" type="password" pInputText class="p-inputtext" formControlName="motDePasse">
        <small id="mdp-help"
                 class="p-error"
                 *ngIf="isAfficherFeedBackError(formulaireInscription.controls['motDePasse'], form.submitted)">
            Champs Obligatoire.
        </small>
      </div>
      <div class="row mb-3">
        <label for="confirmerMotDePasse">Confimez le mot de passe</label>
        <input id="confirmerMotDePasse" type="password" pInputText class="p-inputtext" formControlName="confirmerMotDePasse">
        <small id="confirmMdp-help"
                 class="p-error"
                 *ngIf="isAfficherFeedBackError(formulaireInscription.controls['confirmerMotDePasse'], form.submitted)">
              Champs Obligatoire.
        </small>
      </div>
      <div class="row mb-3 text-center">
        <button pButton pRipple type="submit" label="Inscription" iconPos="right" icon="{{ loading ? 'pi pi-spin pi-spinner' : ''}}" [disabled]="loading" class="p-button-secondary p-button-raised"></button>
        <a routerLink="/auth/connexion" routerLinkActive="active">Se connecter.</a>
      </div>
    </form>

  </div>
</div>
