<div class="row">
  <div class="col-lg-12">
    <p class="title-color text-center">Inscription</p>
    <div class="row mb-3">
      <label for="nomPrenoms">Nom et Prenoms</label>
      <input id="nomPrenoms" type="text" pInputText class="p-inputtext">
    </div>
    <div class="row mb-3">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText class="p-inputtext">
    </div>
    <div class="row mb-3">
      <label for="telephone">Téléphone</label>
      <input id="telephone" type="number" pInputText class="p-inputtext">
    </div>
    <div class="row mb-3">
      <label for="motDePasse">Mot de passe</label>
      <input id="motDePasse" type="password" pInputText class="p-inputtext">
    </div>
    <div class="row mb-3">
      <label for="confirmerMotDePasse">Confimez le mot de passe</label>
      <input id="confirmerMotDePasse" type="password" pInputText class="p-inputtext">
    </div>
    <div class="row mb-3 text-center">
      <button pButton pRipple [routerLink]="'/'" label="Inscription" class="p-button-secondary p-button-raised"></button>
      <a routerLink="/auth/connexion" routerLinkActive="active">Se connecter.</a>
    </div>

  </div>
</div>
